<template>
	<lightning-card
		variant="Narrow"
		title="ToDo List"
		icon-name="standard:task"
	>
		<lightning-button
			variant="brand"
			label="New Todo"
			onclick={handleClick}
			slot="actions"
		></lightning-button>
		<template if:true={newTodo}>
			<c-to-do-item onsaved={handleSaved}></c-to-do-item>
		</template>

		<div class="slds-var-p-around_small">
			<template if:true={todos.data}>
				<ul>
					<template for:each={todos.data} for:item="todo">
						<li key={todo.Id}>
							<c-to-do-item
								todo-id={todo.Id}
								ondeleted={handleDeleted}
							></c-to-do-item>
						</li>
					</template>
				</ul>
			</template>
			<template if:true={todos.error}>
				<p>{error}</p>
			</template>
		</div>
		<!--<p slot="footer">Card Footer</p>-->
	</lightning-card>
</template>
