<apex:page standardController="Account">
    <apex:slds />
    <apex:pageBlock title="Account Fields in Important Field Sets">
        <apex:pageBlockTable value="{!$ObjectType.Account.FieldSets.Important}" var="f">
            <apex:column value="{!f}">
                <apex:facet name="header">Name</apex:facet>
            </apex:column>
            <apex:column value="{!f.Label}">
                <apex:facet name="header">Label</apex:facet>
            </apex:column>
            <apex:column value="{!f.Type}">
                <apex:facet name="header">Data Type</apex:facet>
            </apex:column>
            <apex:column value="{!f.Required}">
                <apex:facet name="header">Database required</apex:facet>
            </apex:column>
            <apex:column value="{!f.FieldPath}">
                <apex:facet name="header">Field Path</apex:facet>
            </apex:column>
            <apex:column value="{!Account[f]}">
                <apex:facet name="header">Required</apex:facet>
            </apex:column>
        </apex:pageBlockTable>
    </apex:pageBlock>
    <apex:pageBlock title="Account important fields">
        <apex:repeat value="{!$ObjectType.Account.FieldSets.Important}" var="f">
            {!f.label}:
            <apex:outputText value="{!account[f]}" />
            <br/>
        </apex:repeat>
    </apex:pageBlock>
</apex:page>