<template>
	<template if:false={edit}>
		<div class="slds-m-around_medium">
			<p>Description</p>
			<p>{description}</p>
			<p>Due Date</p>
			<p>{due_date}</p>
			<p>Reminder Date</p>
			<p>{reminder_date}</p>
			<lightning-button
				label="Edit"
				name="edit"
				onclick={handleEdit}
			></lightning-button>
			<lightning-button-icon
				icon-name="utility:delete"
				variant="border-filled"
				alternative-text="Delete"
				name="delete"
				onclick={handleDelete}
			></lightning-button-icon>
		</div>
	</template>
	<template if:true={edit}>
		<div class="slds-m-around_medium">
			<lightning-textarea
				name="description"
				label="Enter todo description"
				value={description}
				onchange={handleChange}
			></lightning-textarea>
			<lightning-input
				type="date"
				name="due-date"
				label="Enter a due date"
				value={due_date}
				onchange={handleChange}
			></lightning-input>
			<lightning-input
				type="date"
				name="reminder-due-date"
				label="Enter a reminder due date"
				value={reminder_date}
				onchange={handleChange}
			></lightning-input>
			<lightning-button
				label="Save"
				name="save"
				onclick={handleSave}
				icon-name="utility:save"
			></lightning-button>
		</div>
	</template>
	<!--</template>-->
	<template if:true={error}>
		Error: {error}
	</template>
</template>
